// Add your custom styling here.

.jumbotron {
	font-weight: normal;
	background-color: $off_white;
	padding-left: 0px;
	text-align: left;
	padding: 40px 0;
}

.container .jumbotron {
	padding-left: 0px;
}

.me {
  font-size: 63px;
  color: $slate_blue;
  font-weight: 400;
}

.landing-pic-wrapper {
  text-align: right;
}

#pranav-jumbotron {
	font-size: 63px;
	margin-bottom: 20px;
	overflow-x: hidden;
	line-height: 80px;
}

#pranav-jumbotron .container {
	color: $off_white;
	text-align: left;
}

#pranav-jumbotron .tagline {
	color: $slate_blue;
	text-align: left;
}

@media (max-width: 767px) {
	.jumbotron {
		font-size: 40px;
	}

	#pranav-jumbotron .container {
		font-size: 90%;
	}

	#pranav-jumbotron .tagline {
		font-size: 22px;
		text-align: center;
	}

	.me{
		text-align: center;
	}	

	.landing-wrapper-bio p{
		text-align: center;
	}

	.landing-pic-wrapper {
		margin: auto;
		height: 200px;
		display: block;
		text-align: center;
	}
}

.date-time{
	font-size:16px;
}

@import "night/tomorrow";

.highlight .line-numbers, html .gist .gist-file .gist-syntax .highlight .line_numbers {
  @include box-shadow(none);
  text-shadow: none;
}

figure.code, .gist-file {
  @include box-shadow(none);
}

.gist-file {
  font-size:13px !important;
}

table.lines{
  width: 100%;
}

code {
  font-size:13px !important;
}
