// Add your custom styling here.
$background_image: image-url("bg.jpg");

.jumbotron {
	font-weight: normal;
	background-color: $off_white;
	padding-left: 0px;
	text-align: left;
}

.container .jumbotron {
	padding-left: 0px;
}

#pranav-jumbotron {
	background: $background_image;
	font-size: 60px;
	margin-bottom: 20px;
	overflow-x: hidden;
	line-height: 80px;
}

#pranav-jumbotron .container {
	color: $off_white;
	text-align: center;
}

#pranav-jumbotron .tagline {
	color: $off_white;
	text-align: center;
}

@media (max-width: 767px) {
	.jumbotron {
		font-size: 40px;
	}

	#pranav-jumbotron .container {
		font-size: 90%;
	}

	#pranav-jumbotron .tagline {
		font-size: 22px;
	}
}

// Coderay

@import "coderay";

.CodeRay {
  background-color: $code-bg;
  padding: 0px;
  pre {
    padding: 5px 0px 5px 10px;
  }
}

.CodeRay pre, .CodeRay .highlight, .CodeRay .gist-highlight  {
  background-color: $code-bg;
  border: 0px;
  color: #F8F8F8;
  margin-bottom: 0px;
}

// Nice line numbers
table.CodeRay td {
  padding: 0px;
}
.CodeRay .line-numbers, .CodeRay .no {
  background-color: $line-nb-bg;
  padding-right: 1em;
  pre {
      background-color: $line-nb-bg;
      border: 0px;
      margin: 0px;
      a {
      	white-space: nowrap; // Fix wrapping line numbers
      }
  }
}
.CodeRay .line { background-color: $line-nb-bg }
.CodeRay span.line-numbers { padding: 0px 10px 0px 0px }

// As in Sublime editor
// Violet for constants ("Rails")
.CodeRay .constant { color: #9B859D; }
// Blue for predefined-constants ("self")
.CodeRay .predefined-constant { color: #7587A6; font-weight: normal  }

.date-time{
	font-size:16px;
}
